.App-header {
    position: static;
    /* position: fixed; */
    left: 0%;
    right: 0%;
}

.App-body {
    position: static;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.APP-Footer {
    Position: sticky;
    width: 100%;
    left: 0%;
    right: 0%;
}

* {
    box-sizing: border-box;
}