/*.index-header {
    position: fixed;
    z-index: 1;
    left: 0%;
    right: 0%;
}*/


/* 풋터(카피라이터 부분) .index-Footer {
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0%;
    right: 0%;
} */

* {
    box-sizing: border-box;
}


/*헤더부분*/

.Header2 {
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0%;
    right: 0%;
}


/* Main페이지에서 Carousel 이미지 부분*/

.Main_Img {
    height: 500px;
    width: 1400px;
}


/*홈페이지의 사이드 */

.Main,
.Library,
.card_mian,
.Docs_btn,
.Upload,
.Login,
.Register,
.Datasetsdetail,
.Codedetail,
.FindPWpage {
    padding-top: 80px;
    padding-left: 290px;
    padding-right: 290px;
    overflow-y: auto;
    /* overflow-x: auto; */
}


/* 풋터(카피라이터 부분) */

.Copywriter {
    /* position: fixed; */
    z-index: 1;
    width: 100%;
    left: 0%;
    right: 0%;
}


/* datasets,code사이드바 디자인부분 */

.sidebar {
    display: none;
    min-height: 768px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 4%;
    bottom: 1%;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #202020;
    border-right: 1px solid #202020;
}

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration-line: none;
    color: white;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}