.index-header {
    position: fixed;
    z-index: 1;
    left: 0%;
    right: 0%;
}

.index-body {
    padding-top: 80px;
    padding-left: 290px;
    padding-right: 290px;
    padding-bottom: 80px;
}

.index-Footer {
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0%;
    right: 0%;
}

* {
    box-sizing: border-box;
}